<div class='main-container'>
  <div class='user-fetch-form'>
    <label>User Id:</label><input [(ngModel)]="userId"><button (click)="fetchUser()">Fetch</button>
  </div>
  <div class='fetch-user-info'>
    <span>{{fetchUserInfo}}</span>
  </div>
  <div class="user-container" *ngIf="user != null">
    <div class="user-first-name-group">
      <span>First Name: </span><span>{{user.firstName}}</span>
    </div>
    <div class="user-last-name-group">
      <span>Last Name: </span><span>{{user.lastName}}</span>
    </div>
  </div>
</div>